@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* main structure */
:root{
    --white: #ffffff;
    --black: #36362d;
    --green: #069501;
    --olive: #9edb0b;
    --yellow: #ffee00;
    --greengrad: linear-gradient(315deg, #63d471 0%, #233329 74%);
    --mainfont: Poppins;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: var(--mainfont);
  background: var(--greengrad);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 1px 15px 5px rgba(255, 238, 0, 0.2) inset;
  -moz-box-shadow: 0px 1px 15px 5px rgba(255, 238, 0, 0.2) inset;
  box-shadow: 0px 1px 15px 5px rgba(255, 238, 0, 0.5) inset;
  height: 100vh;
}
header{
  position: fixed;
  width: 100%;
  background: linear-gradient(0deg,transparent,rgba(0,0,0,.5));
  z-index: 1000;
}
section{
  display: flex;
  justify-content: center;
}
.container{
  padding: 30px;
  margin: 0 auto 20px;
}
main{
  padding: 60px 0;
}
.text,.text-center{
  text-align: center;
  color: var(--yellow);
}

/* navbar */
.navbar{
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
}
.nav-menu{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
  gap: 0;
  left: 100%;
  padding: 80px 0 80px;
  background-color: var(--olive);
  opacity: 0.95;
  width: 100%;
  min-height: 100%;
  transition: 0.3s;
}
.nav-menu.active{
  left: 0;
}
.nav-item{
  margin: 5px 0;
}
label.logo{
  line-height: 10px;
  z-index: 1;
}
.nav-branding img{
  width: 50px;
}
.nav-link{
  transition: 0.7s ease;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase; 
  color: var(--black);
}
.nav-link.active,.nav-link:hover{
  background: var(--green);
  color: var(--yellow);
  font-weight: 600;
  transition: .5s;
}

/* hamburger */
.hamburger{
  display: block;
  cursor: pointer;
}
.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--yellow);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* swiper */
.swiper{
  width: 100%;
  height: 100%;
}
.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 380px;
  height: 500px;
}
.swiper-slide img {
  display: block;
  width: 380px;
  height: 500px;
  border-radius: 7px;
  object-fit: contain;
}
.swiper-slide-active{
  transform: scale(1.15);
  transition: .4s;
}
.info{
  width: 100%;
  padding: 8px 0;
  background: rgba(0,0,0,0.6);
  color: var(--olive);
  font-size: small;
  font-weight: lighter;
  position: absolute;
  bottom: 0;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.swiper-pagination{
  bottom: 0 !important;
}

/* media 1024px */
@media (max-width: 1024px){
  .container{
    padding: 30px;
    margin: 0 auto 20px;
  }
  .navbar{
    padding: 0 30px;
  }
  label.logo{
    line-height: 10px;
    z-index: 1;
  }
  .nav-branding img{
    width: 40px;
  }
  .swiper-slide{
    width: 330px;
    height: 450px;
  }
  .swiper-slide img {
    display: block;
    width: 330px;
    height: 450px;
    border-radius: 7px;
    object-fit: cover;
  }
  .swiper-slide-active{
    transform: scale(1.15);
    transition: .4s;
  }
  .info{
    width: 100%;
    padding: 8px 0;
    background: rgba(0,0,0,0.6);
    color: var(--olive);
    font-size: small;
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-radius: 0 0 5px 5px;
  }
  .swiper-pagination{
    bottom: 0 !important;
  }
}

/* media 425px */
@media (max-width: 425px){
  .container{
    margin: 0 auto 20px;
  }
  .swiper-slide{
    width: 260px;
    height: 380px;
  }
  .swiper-slide img {
    display: block;
    width: 260px;
    height: 380px;
    border-radius: 7px;
    object-fit: cover;
  }
  .swiper-slide-active{
    transform: scale(1.25);
    transition: .4s;
  }
  .info{
    width: 100%;
    padding: 8px 0;
    background: rgba(0,0,0,0.6);
    color: var(--olive);
    font-size: small;
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-radius: 0 0 5px 5px;
  }
  .swiper-pagination{
    bottom: 0 !important;
  }
}

/* media 375px */
@media (max-width: 375px){
  .container{
    margin: 0 auto 20px;
  }
  .swiper-slide{
    width: 200px;
    height: 320px;
  }
  .swiper-slide img {
    display: block;
    width: 200px;
    height: 320px;
    border-radius: 7px;
    object-fit: cover;
  }
  .swiper-slide-active{
    transform: scale(1.3);
    transition: .4s;
  }
  .info{
    width: 100%;
    padding: 8px 0;
    background: rgba(0,0,0,0.6);
    color: var(--olive);
    font-size: small;
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-radius: 0 0 5px 5px;
  }
  .swiper-pagination{
    bottom: 0 !important;
  }
}


